@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Ubuntu', sans-serif;
}

body{
    color: white;
    background-image: radial-gradient(circle at top, #555 10%, black 100%);
    height: 100vh;
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
}

.logo{
    width: 80%;
    height: 80px;
    background-image: url('../img/logo_white_large.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.card h1{
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #EAD017;
    text-shadow: 0px 0px 2px white;
}

.card h2{
    font-size: 1rem;
    margin: 0.4rem 0;
}

.contact{
    line-height: 1.1rem;
}

.bsa{
    margin-top: 10px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(100, 100, 100, 0.5);
}

.bsa a{
    text-decoration: none;
    transition: 0.4s;
}


.bsa a:link, .bsa a:visited{
    color: #999;
    
}

.bsa a:hover, .bsa:active{
    color: #EAD017;
}